<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CalenderMapper">

  <resultMap type="Calender" id="CalenderMap">
  <id column="calender_no" property="calenderNo"/>
  <result column="calender_dt" property="calenderNo"/>
  <result column="day_week" property="dayOftheWeek"/>
  <result column="content" property="calenderContent"/>
  <result column="content" property="calenderContent"/>
  <result column="end_dt" property="endDay"/>
  <result column="end_dt" property="importanceCalender"/>
  <result column="importance_no" property="importanceNo"/>
  <result column="importance" property="importanceCalender"/>
  </resultMap>

	<insert id="insert" parameterType="Calender"> 
	</insert>
  <select id="findAll" resultMap="CalenderMap">
  
  </select>


</mapper>