<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CeoMemberMapper">
  
  <resultMap type="CeoMember" id="CeoMemberMap">
    <id column="member_no" property="ceoNo"/> 
    <result column="name" property="ceoName"/>
    <result column="nickname" property="ceoNickname"/>
    <result column="email" property="ceoEmail"/>
    <result column="password" property="ceoPassword"/>
    <result column="tel" property="ceoTel"/>
    <result column="photo" property="ceoPhoto"/>
    <result column="created_dt" property="ceoRegisteredDate"/>
    <result column="status" property="ceoStatus"/>
    <result column="active" property="active"/>
    <result column="bossName" property="ceoBossName"/>
    <result column="license_no" property="ceoLicenseNo"/>
  </resultMap>
  
  <!-- ceo_no 말고 member_no 로 쓰기 -->
  
  <select id="findByEmailAndPassword" resultMap="CeoMemberMap" parameterType="map">
    select
      cm.ceo_member_no member_no,
      m.nickname,
      m.email
    from 
      member m
    join
      ceo_member cm on m.member_no=cm.member_no
    where
      email=#{email} and password=password(#{password})
  </select>

  
</mapper>







