<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FreeBoardMapper">
  
  <resultMap type="study_Board" id="FreeBoardMap">
    <id column="st_board_no" property="freeBoardNo"/> 
    <result column="title" property="freeBoardTitle"/>
    <result column="content" property="freeBoardContent"/>
    <result column="view_cnt" property="freeBoardViewcount"/>
    <result column="created_dt" property="freeBoardRegisteredDate"/>
    
    <result column="file_no" property="freeBoardAtcFileNo"/>
    <result column="name" property="freeBoardAtcFile"/>
    
    <collection property="comment" ofType="Comment">
    <id column="comment_No" property="commentNo"/> 
    <result column="comment_content" property="commentText"/>
    
    <result column="member_status" property="commentWiter"/>
    <result column="member_status" property="commentAdminWiter"/>
    <result column="member_status" property="commentRegisteredDate"/>
    </collection>
    
    <association property="freeBoardWriter" javaType="Member">
    <id column="per_no" property="perNo"/> 
    <result column="nickname" property="ceoNickname"/>
    <result column="member_status" property="perStatus"/>
    </association>
    
  </resultMap>