<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="GuilderMapper">

<resultMap type="Member" id="MemberMap">
<id column="member_no" property="perNo"/>
    <result column="member_name" property="perName"/>
    <result column="member_nickname" property="perNickname"/>
 </resultMap>
 

	<!--  ===========================[구성원]=========================== -->
	
	<!--  ===[해당 스터디의 구성원 목록]=== -->
	<select id="waiting" resultMap="MemberMap" parameterType="int">
    select
      sg.member_no,
      m.name member_name,
      m.nickname member_nickname
    from
      study_guilder sg
    join
      member m on m.member_no=sg.member_no
		where 
		  sg.study_no=#{studyNo} and sg.status=1
	</select>
	
	 <select id="guilder" resultMap="MemberMap" parameterType="int">
    select
      sg.member_no,
      m.name member_name,
      m.nickname member_nickname
    from
      study_guilder sg
    join
      member m on m.member_no=sg.member_no
    where 
      sg.study_no=#{studyNo} and sg.status=2
  </select>

</mapper>







