<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberMapper">
  
  <resultMap type="Member" id="MemberMap">
    <id column="member_no" property="perNo"/> 
    <result column="name" property="perName"/>
    <result column="nickname" property="perNickname"/>
    <result column="email" property="perEmail"/>
    <result column="password" property="perPassword"/>
    <result column="tel" property="perTel"/>
    <result column="photo" property="perPhoto"/>
    <result column="created_dt" property="perRegisteredDate"/>
    <result column="status" property="perStatus"/>
    <result column="active" property="active"/>
  </resultMap>

  <select id="findByEmailAndPassword" resultMap="MemberMap" parameterType="map">
    select
      pm.per_member_no member_no,
      m.nickname,
      m.email
    from 
      member m
    join
      per_member pm on m.member_no=pm.member_no
    where
      email=#{email} and password=password(#{password})
  </select>
  
  <select id="findAll" resultMap="MemberMap">
  select
    pm.per_member_no member_no,
     m.name,
     m.nickname,
     m.email,
     m.tel,
     m.photo,
     m.created_dt,
     m.active,
     m.status
  from
    member m
  join
    per_member pm on m.member_no=pm.member_no
  order by name asc
  </select>

  <select id="findByNo" resultMap="MemberMap" parameterType="int">
  select
    pm.per_member_no per_no,
    m.name,
    m.nickname,
    m.email,
    m.tel,
    m.photo,
    m.created_dt,
    m.active,
    m.status
  from
    member m
  join
    per_member pm on pm.member_no=m.member_no
  where
    pm.per_member_no=#{no}
  </select>
  
  <insert id="insert" parameterType="member">
		insert into member(name,nickname,email,password,tel,photo,status)
		values(#{name},#{nickname},#{email},password(#{password}),#{tel},#{photo},#{status})
  </insert>
  
  <select id="findByNickName" resultMap="MemberMap" parameterType="string">
	  select
	    pm.per_member_no,
	    m.name,
	    m.nickname,
	    m.email,
	    m.tel,
	    m.photo,
	    m.created_dt,
	    m.active,
	    m.status
	  from
	    member m
	  join
	    per_member pm on m.member_no=pm.member_no
	  where
	    nickname=#{nickname}
  </select>
  
  <select id="findByEmail" resultMap="MemberMap" parameterType="string">
	  select
	    pm.per_member_no,
	    per_no,
	    m.name,
	    m.nickname,
	    m.email,
	    m.tel,
	    m.photo,
	    m.created_dt,
	    m.active,
	    m.status
	  from
	    member m
	  join
	    per_member pm on m.member_no=pm.member_no
	  where
	    email=#{email}
  </select>
  
  <update id="updateName" parameterType="member">
  update member set
    name=#{name}
  where
    member_no=#{no}
  (select
    member_no
  from
    per_member
  where
    per_member_no=#{no})
  </update>
  
  <update id="updateNickname" parameterType="member">
  update member set
    nickname=#{nickname}
  where
    member_no=#{no}
  (select
    member_no
  from
    per_member
  where
    per_member_no=#{no})
  </update>
  
  <update id="updatePhoto" parameterType="member">
  update member set
    photo=#{photo}
  where
    member_no=#{no}
  (select
    member_no
  from
    per_member
  where
    per_member_no=#{no})
  </update>
  
  <update id="updateTel" parameterType="member">
  update member set
    tel=#{tel}
  where
    member_no=#{no}
  (select
    member_no
  from
    per_member
  where
    per_member_no=#{no})
  </update>
  
  <update id="updateEmail" parameterType="member">
  update member set
    email=#{email}
  where
    member_no=#{no}
  (select
    member_no
  from
    per_member
  where
    per_member_no=#{no})
  </update>
  
  <update id="updatePassword" parameterType="member">
  update member set
    password=password(#{password})
  where
    member_no=#{no}
  (select
    member_no
  from
    per_member
  where
    per_member_no=#{no})
  </update>
  
   <update id="updateActive" parameterType="member">
  update member set
    active=2 
  where
    member_no=#{no}
  (select
    member_no
  from
    per_member
  where
    per_member_no=#{no})
  </update>

</mapper>






