<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberMapper">
  
  <resultMap type="Member" id="MemberMap">
    <id column="member_no" property="perNo"/> 
    <result column="name" property="perName"/>
    <result column="nickname" property="perNickname"/>
    <result column="email" property="perEmail"/>
    <result column="password" property="perPassword"/>
    <result column="tel" property="perTel"/>
    <result column="photo" property="perPhoto"/>
    <result column="created_dt" property="perRegisteredDate"/>
    <result column="status" property="perStatus"/>
    <result column="active" property="active"/>
  </resultMap>

	<sql id="select1">
	select
    pm.per_member_no member_no,
    m.name,
    m.nickname,
    m.email,
    m.tel,
    m.photo,
    m.created_dt,
    m.active,
    m.status
  from
    member m
  join
    per_member pm on m.member_no=pm.member_no
	</sql>

  <select id="findByEmailAndPassword" resultMap="MemberMap" parameterType="map">
    select
      pm.per_member_no member_no,
      m.nickname,
      m.email,
      m.active
    from 
      member m
    join
      per_member pm on m.member_no=pm.member_no
    where
      email=#{email} and password=password(#{password})
  </select>
  
  <select id="findAll" resultMap="MemberMap">
    <include refid="select1"/>
  order by name asc
  </select>

  <select id="findByNo" resultMap="MemberMap" parameterType="int">
    <include refid="select1"/>
  where
    pm.per_member_no=#{no}
  </select>
  
  <insert id="insert" parameterType="member">
		insert into member(name,nickname,email,password,tel,photo,status)
		values(#{perName},#{perNickname},#{perEmail},password(#{perPassword}),#{perTel},#{perPhoto},#{perStatus})
  </insert>
  
  <select id="findByNickName" resultMap="MemberMap" parameterType="string">
    <include refid="select1"/>
  where
    nickname=#{nickname}
  </select>
  
  <select id="findByEmail" resultMap="MemberMap" parameterType="string">
    <include refid="select1"/>
  where
    email=#{email}
  </select>
  
  <update id="updateName" parameterType="member">
  update member set
    name=#{perName}
  where
    member_no=
  (select
    member_no
  from
    per_member
  where
    per_member_no=#{perNo})
  </update>
  
  <update id="updateNickname" parameterType="member">
  update member set
    nickname=#{perNickname}
  where
    member_no=
  (select
    member_no
  from
    per_member
  where
    per_member_no=#{perNo})
  </update>
  
  <update id="updatePhoto" parameterType="member">
  update member set
    photo=#{perPhoto}
  where
    member_no=
  (select
    member_no
  from
    per_member
  where
    per_member_no=#{perNo})
  </update>
  
  <update id="updateTel" parameterType="member">
  update member set
    tel=#{perTel}
  where
    member_no=
  (select
    member_no
  from
    per_member
  where
    per_member_no=#{perNo})
  </update>
  
  <update id="updateEmail" parameterType="member">
  update member set
    email=#{perEmail}
  where
    member_no=
  (select
    member_no
  from
    per_member
  where
    per_member_no=#{perNo})
  </update>
  
  <update id="updatePassword" parameterType="member">
  update member set
    password=password(#{perPassword})
  where
    member_no=
  (select
    member_no
  from
    per_member
  where
    per_member_no=#{perNo})
  </update>
  
  <update id="updateActive" parameterType="member">
  update member set
    active=2 
  where
    member_no=
  (select
    member_no
  from
    per_member
  where
    per_member_no=#{perNo})
  </update>

</mapper>






