<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StudyMapper">

  <resultMap type="Study" id="StudyMap">
    <id column="study_no" property="studyNo"/> 
    <result column="name" property="studyTitle"/>
    <result column="subject_no" property="subjectNo"/>
    <result column="subject_name" property="subjectName"/>
    <result column="no_people" property="numberOfPeple"/>
    <result column="face_no" property="faceNo"/>
    <result column="face_name" property="faceName"/>
    <result column="intreduction" property="introduction"/>
    <result column="created_dt" property="registeredDate"/>
    <result column="score" property="score"/>
  
  </resultMap>
  
  

  <select id="findAll" resultMap="StudyMap">
    select s.study_no,
            s.name,
            ss.name subject_name,
            ss.subject_no subject_no,
            s.no_people,
            sfs.name face_name,
            sfs.face_no face_no,
            sl.name area_name,
            sl.location_no area_no,
            s.introduction,
            s.created_dt,
            s.member_no owner_no,
            m.nickname owner_name,
            sg.status status,
            sg.member_no guilder_no,
            m2.nickname guilder_nickname,
            s.score study_score,
            sb.member_no book_member_no,
            s.score
    from study s"
    left outer join study_subject ss on s.subject_no=ss.subject_no
    left outer join study_face_status sfs on s.face_no=sfs.face_no
    left outer join member m on s.member_no=m.member_no
    left outer join study_guilder sg on s.study_no=sg.study_no
    left outer join member m2 on sg.member_no=m2.member_no
    left outer join study_multiple_location sml on sml.study_no=s.study_no
    left outer join study_location sl on sml.location_no=sl.location_no
    left outer join study_bookmark sb on sb.study_no=s.study_no
  </select>

</mapper>







