<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StudyMapper">
  
  <resultMap type="Study" id="StudyMap">
    <id column="study_no" property="studyNo"/> 
    <result column="name" property="studyTitle"/>
    <result column="subject_no" property="subjectNo"/>
    <result column="no_people" property="numberOfPeple"/>
    <result column="password" property="perPassword"/>
    <result column="tel" property="perTel"/>
    <result column="photo" property="perPhoto"/>
    <result column="created_dt" property="perRegisteredDate"/>
    <result column="status" property="perStatus"/>
    <result column="active" property="active"/>
  </resultMap>
  
  <!-- per_no 말고 member_no 로 쓰기 -->
  
  <select id="findByEmailAndPassword" resultMap="MemberMap" parameterType="map">
    select
      pm.per_member_no member_no,
      m.nickname,
      m.email
    from 
      member m
    join
      per_member pm on m.member_no=pm.member_no
    where
      email=#{email} and password=password(#{password})
  </select>
  
  <select id="findAll" resultMap="MemberMap">
  select
    pm.per_member_no member_no,
	  m.name,
	  m.nickname,
	  m.email,
	  m.tel,
	  m.photo,
	  m.created_dt,
	  m.active,
	  m.status
  from
    member m
  join
    per_member pm on m.member_no=pm.member_no
  order by name asc
  </select>
  
</mapper>







